header {
    .escudo {
        width: 70px;
        height: 70px;
        animation-name: logo;
        animation-duration: 4s;
        animation-iteration-count: initial;
        animation-direction: normal;
        &:hover {
            transform: scale(1.1,1.1);
            transition: 1s;
        }
    }
    @keyframes logo {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1,1);
        }
    }
    .fondo {
        background-color: $rojo !important;
    }
    button {
        .icono {
            width: 64px;
            height: 64px;
        }
    }
    ul {
        .nav-link {
            font-size: 1.1rem;
            color: $blanco;
            text-decoration: none;
            position: relative;
            transition: all 0.3s ease;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $negro;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease;
            }
            &:hover {
                color: $negro;
            }
            &:hover::before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}