/* --------------- JUGADORES -------------------- */
#players {
    background-image: $jugadores;
    h1 {
        @include titulo;
        margin-bottom: 50px;
    }
    h2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 30px;
        background-image: $posicion;
        color: $blanco;
        border: $border3;
        padding: 10px;
    }
    div {
        img {
            width: 200px;
            padding: 10px;
        }
        .player-name {
            font-size: 1.1rem;
            font-weight: bold;
            text-align: center;
            padding: 5px;
        }
        .player-details {
            font-size: 0.9rem;
            text-align: center;
        }
        .country {
            text-align: center;
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
    .grid-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .grid-hijo-1 {
            @include referencia ($arqueros);
        }
    }
    .grid-2 {
        @extend .grid-1;
        .grid-hijo-2 {
            @include referencia ($defensores);
        }
    }
    .grid-3 {
        @extend .grid-1;
        .grid-hijo-3 {
            @include referencia ($mediocentro);
        }
    }
    .grid-4 {
        @extend .grid-1;
        .grid-hijo-4 {
            @include referencia ($delanteros);
        }
    }
    .grid-5 {
        @extend .grid-1;
        justify-content: center;
        .grid-hijo-5 {
            background-image: $tecnico;
            color: $negro;
            padding: 10px;
            border-radius: 50px;
            box-shadow: $box-shadow-players;
            margin-bottom: 50px;
            &:hover {
                transform: scale(1.1,1.1);
                transition: 1s;
            }
        }
    }
}
