/* ------- MEDIA QUERIES ---------- */
@media (max-width: 827px) {
    .main {
        .show {
            img {
                height: 10rem;
            }
        }
        h1 {
            font-size: 1.5rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
    #players {
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.3rem;
        }
    }
}
@media (max-width: 700px) {
    #fixture {
        h1 {
            font-size: 1.3rem;
        }
        .table-fixture {
            width: 80%;
            font-size: 0.6rem;
            .game-time {
                font-size: 0.6rem;
                img {
                    width: 25px;
                    padding-top: 10px;
                }
            }
            .game-t1 {
                font-size: 0.7rem;
                img {
                    width: 20px;
                }
            }
            .game-r1 {
                font-size: 1rem;
            }
            .liga, .fa-cup, .europa-league {
                font-size: 0.6rem;
            }
            .truco, .envido {
                font-size: 0.9rem;
            }
        }
    }
} 
@media (max-width: 908px) {
    #premier-league {
        padding-bottom: 40px;
        h1 {
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
        table {
            font-size: 0.8rem;
            width: 85%;
            tr {
                .club {
                    width: 80px;
                }
                .estadisticas {
                    width: 20px;
                }
            }
            .gris-claro, .gris-oscuro {
                .left {
                    .shield {
                        width: 18px;
                        height: 18px;
                        padding-bottom: 2px;
                        padding-left: 2px;
                    }
                    b {
                        font-size: 0.8rem;
                    }
                }
            }
            .cp1, .cp3, .cp4, .ds1 {
                font-size: 0.8rem;
            }
        }
    }
}
@media (max-width: 750px) {
    .contact-form {
        .contacto {
            max-width: 300px;
            border-radius: 30px;
            form {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 30px;
                .form-group {
                    input, select, textarea {
                        font-size: 0.8rem;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .main {
        .carousel-indicators {
            margin-bottom: 1.5rem;
        }
        .w-100 {
            margin-bottom: 20px;
            margin-top: 10px;
            padding: 10px;
        }
    }
}
@media (max-width:500px) {
    #players {
        div {
            img {
                width: 160px;
            }
            .player-name {
                font-size: 0.8rem;
            }
        
            .player-details {
                font-size: 0.7rem;
            }
        }
    }
}
/* ------------- NAVVAR ---------------- */
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 30px;
    }
}