/* ------- MEDIA QUERIES ---------- */
@media screen and (max-width: 827px) {
    .main {
        .show {
            img {
                height: 10rem;
            }
        }
        p {
            font-size: 0.9rem;
        }
    }
}
@media screen and (max-width: 900px) {
    .main {
        p {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 30px;
        }
        .carousel-indicators {
            margin-bottom: 1.5rem;
        }
        .w-100 {
            margin-bottom: 20px;
            margin-top: 10px;
            padding: 10px;
        }
    }
}


@media screen and (max-width: 1050px) {
    #fixture {
        .table-fixture {
            width: 70%;
            font-size: 0.9rem;
            .game-time {
                font-size: 0.9rem;
                img {
                    width: 25px;
                    padding-top: 10px;
                }
            }
            .game-t1 {
                font-size: 0.9rem;
                img {
                    width: 20px;
                }
            }
            .game-r1 {
                font-size: 1rem;
            }
            .liga, .fa-cup, .europa-league {
                font-size: 0.9rem;
            }
            .truco, .envido, .retruco, .real-envido {
                font-size: 1rem;
            }
        }
    }
} 
@media screen and (max-width: 780px) {
    #fixture {
        .table-fixture {
            width: 80%;
            font-size: 0.7rem;
            .game-time {
                font-size: 0.7rem;
                img {
                    width: 25px;
                    padding-top: 10px;
                }
            }
            .game-t1 {
                font-size: 0.7rem;
                img {
                    width: 20px;
                }
            }
            .game-r1 {
                font-size: 1rem;
            }
            .liga, .fa-cup, .europa-league {
                font-size: 0.7rem;
            }
            .truco, .envido, .retruco, .real-envido {
                font-size: 0.9rem;
            }
        }
    }
} 
@media screen and (max-width: 590px) {
    #fixture {
        .table-fixture {
            width: 95%;
            font-size: 0.7rem;
            .game-time {
                font-size: 0.6rem;
                img {
                    width: 25px;
                    padding-top: 10px;
                }
            }
            .game-t1 {
                font-size: 0.7rem;
                img {
                    width: 20px;
                }
            }
            .game-r1 {
                font-size: 1rem;
            }
            .liga, .fa-cup, .europa-league {
                font-size: 0.6rem;
            }
            .truco, .envido, .retruco, .real-envido {
                font-size: 0.9rem;
            }
        }
    }
} 
@media screen and (max-width: 320px) {
    #fixture {
        .table-fixture {
            width: 95%;
            font-size: 0.6rem;
            .game-time {
                font-size: 0.5rem;
                img {
                    width: 25px;
                    padding-top: 10px;
                }
            }
            .game-t1 {
                font-size: 0.6rem;
                img {
                    width: 20px;
                }
            }
            .game-r1 {
                font-size: 0.9rem;
            }
            .liga, .fa-cup, .europa-league {
                font-size: 0.6rem;
            }
            .truco, .envido, .retruco, .real-envido {
                font-size: 0.8rem;
            }
        }
    }
} 


@media screen and (max-width: 1100px) {
    #premier-league {
        padding-bottom: 40px;
        h1 {
            margin-bottom: 20px;
        }
        table {
            font-size: 0.9rem;
            width: 60%;
            tr {
                .club {
                    width: 80px;
                }
                .estadisticas {
                    width: 20px;
                }
            }
            .gris-claro, .gris-oscuro {
                .left {
                    .shield {
                        width: 20px;
                        height: 20px;
                        padding-bottom: 2px;
                        padding-left: 2px;
                    }
                    b {
                        font-size: 0.9rem;
                    }
                }
                .centrado {
                    font-size: 1rem;
                }
            }
            .cp1, .cp3, .cp4, .ds1 {
                font-size: 0.9rem;
            }
        }
    }
}
@media screen and (max-width: 850px) {
    #premier-league {
        padding-bottom: 40px;
        h1 {
            margin-bottom: 20px;
        }
        h2 {
            font-size: 1.3rem;
        }
        table {
            font-size: 0.9rem;
            width: 70%;
            tr {
                .club {
                    width: 80px;
                }
                .estadisticas {
                    width: 20px;
                }
            }
            .gris-claro, .gris-oscuro {
                .left {
                    .shield {
                        width: 20px;
                        height: 20px;
                        padding-bottom: 2px;
                        padding-left: 2px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #premier-league {
        padding-bottom: 40px;
        h1 {
            margin-bottom: 20px;
        }
        h2 {
            font-size: 1.3rem;
        }
        table {
            font-size: 0.9rem;
            width: 80%;
            tr {
                .club {
                    width: 80px;
                }
                .estadisticas {
                    width: 20px;
                }
            }
            .gris-claro, .gris-oscuro {
                .left {
                    .shield {
                        width: 18px;
                        height: 18px;
                        padding-bottom: 2px;
                        padding-left: 2px;
                    }
                    b {
                        font-size: 0.9rem;
                    }
                }
                .centrado {
                    font-size: 1rem;
                }
            }
            .cp1, .cp3, .cp4, .ds1 {
                font-size: 0.9rem;
            }
        }
    }
}
@media screen and (max-width: 630px) {
    #premier-league {
        padding-bottom: 40px;
        h1 {
            margin-bottom: 20px;
        }
        table {
            font-size: 0.8rem;
            width: 85%;
            tr {
                .club {
                    width: 80px;
                }
                .estadisticas {
                    width: 20px;
                }
            }
            .gris-claro, .gris-oscuro {
                .left {
                    .shield {
                        width: 18px;
                        height: 18px;
                        padding-bottom: 2px;
                        padding-left: 2px;
                    }
                    b {
                        font-size: 0.8rem;
                    }
                }
                .centrado {
                    font-size: 0.9rem;
                }
            }
            .cp1, .cp3, .cp4, .ds1 {
                font-size: 0.8rem;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    #premier-league {
        padding-bottom: 40px;
        h1 {
            margin-bottom: 20px;
        }
        table {
            font-size: 0.7rem;
            width: 95%;
            tr {
                .club {
                    width: 80px;
                }
                .estadisticas {
                    width: 20px;
                }
            }
            .gris-claro, .gris-oscuro {
                .left {
                    .shield {
                        width: 18px;
                        height: 18px;
                        padding-bottom: 2px;
                        padding-left: 2px;
                    }
                    b {
                        font-size: 0.7rem;
                    }
                }
            }
            .cp1, .cp3, .cp4, .ds1 {
                font-size: 0.7rem;
            }
            .centrado {
                font-size: 0.8rem;
            }
        }
    }
}


@media screen and (max-width:500px) {
    .players {
        .players__grid {
            img {
                width: 160px;
            }
            .players__name {
                font-size: 1rem;
            }
        
            .players__details {
                font-size: 0.8rem;
            }
            .players__country {
                .players__details {
                    img {
                        width: 50px;
                        height: 50px;
                        margin-bottom: -16px;
                        margin-top: -17px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 925px) {
    .contact-form {
        .contacto {
            max-width: 800px;
            border-radius: 30px;
        }
    }
}
@media screen and (max-width: 830px) {
    .contact-form {
        .contacto {
            max-width: 700px;
            border-radius: 30px;
        }
    }
}
@media screen and (max-width: 720px) {
    .contact-form {
        .contacto {
            max-width: 600px;
            border-radius: 30px;
        }
    }
}
@media screen and (max-width: 630px) {
    .contact-form {
        .contacto {
            max-width: 500px;
            border-radius: 30px;
            .home {
                font-size: 1.3rem;
            }
            form {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 30px;
                .form-group {
                    label {
                        font-size: 1rem;
                    }
                    input, select, textarea {
                        font-size: 1rem;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 530px) {
    .contact-form {
        .contacto {
            max-width: 400px;
            border-radius: 30px;
            form {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 30px;
                .form-group {
                    input, select, textarea {
                        font-size: 0.9rem;
                        padding: 8px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 430px) {
    .contact-form {
        .contacto {
            max-width: 300px;
            border-radius: 30px;
            form {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 30px;
                .form-group {
                    input, select, textarea {
                        font-size: 0.8rem;
                        padding: 8px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width:768px) {
    .main {
        h1 {
            font-size: 1.6rem;
        }
    }
    #fixture {
        h1 {
            font-size: 1.6rem;
        }
    }
    #premier-league {
        h1 {
            font-size: 1.6rem;
        }
    }
    .players {
        h1 {
            font-size: 1.6rem;
        }
        .players__posicion {
            font-size: 1.4rem;
        }
    }
    .contact-form {
        h1 {
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width:500px) {
    .main {
        h1 {
            font-size: 1.4rem;
        }
    }
    #fixture {
        h1 {
            font-size: 1.4rem;
        }
    }
    #premier-league {
        h1 {
            font-size: 1.4rem;
        }
    }
    .players {
        h1 {
            font-size: 1.4rem;
        }
        .players__posicion {
            font-size: 1.2rem;
        }
    }
    .contact-form {
        h1 {
            font-size: 1.4rem;
        }
    }
}
@media screen and (max-width:385px) {
    .main {
        h1 {
            font-size: 1.2rem;
        }
    }
    #fixture {
        h1 {
            font-size: 1.2rem;
        }
    }
    #premier-league {
        h1 {
            font-size: 1.2rem;
        }
    }
    .players {
        h1 {
            font-size: 1.2rem;
        }
        .players__posicion {
            font-size: 1.1rem;
        }
    }
    .contact-form {
        h1 {
            font-size: 1.2rem;
        }
    }
}

/* ------------- NAVVAR ---------------- */
@media screen and (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 30px;
    }
}