.navbar-toggler {
    border: none;
    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }
}

.navbar-nav {
    align-items: center;
}

