/* ----------------- TABLA DE POSICIONES -------------------- */
#premier-league {
    background-image: $premier;
    padding-bottom: 50px;
    h1 {
        @include titulo;
    }
    table {
        font-size: 0.9rem;
        width: 50%;
        border-collapse: collapse;
        margin: 0 auto;
        th, td {
            padding: 6px 0;
            border: $border2;
        }
        th {
            background-image: $fila1;
            color: $blanco;
            display: table-cell;
            vertical-align: inherit;
            font-weight: 700;
            text-align: center;
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            .club {
                width: 150px;
            }
            .estadisticas {
                width: 35px;
            }
            .clasificado {
                @include premier ($champions-league);
            }
            .uel {
                @include premier ($europa-league);
            }
            .conference {
                @include premier ($conference-league);
            }
            .descenso {
                @include premier ($descenso);
            }
        }
        .campeon {
            background-color: $junio;
        }
        .gris-claro {
            background-color: $gris-claro;
        }
        .gris-oscuro {
            background-color: $gris-oscuro;
        }
        .campeon, .gris-claro, .gris-oscuro {
            td {
                text-align: center;
            }
            .left {
                text-align: left;
                .shield {
                    width: 25px;
                    height: 25px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                }
                b {
                    font-size: 0.9rem;
                }
            }
            .centrado {
                text-align: center;
                font-weight: 700;
                font-size: 1rem;
            }
        }
        .cp1 {
            @include competiciones ($champions-league);
        }
        .cp3 {
            @include competiciones ($europa-league);
        }
        .cp4 {
            @include competiciones ($conference-league);
        }
        .ds1 {
            @include competiciones ($descenso);
        }
        .ds2 {
            background: $junio;
            color: $blanco;
            font-size: 1rem;
        }
    }
}